NEXT_PUBLIC_API_URL=http://localhost:3000

MONGODB_URI=your_mongodb_uri_here
MONGODB_DB=handcrafted_haven

JWT_SECRET=your_jwt_secret_here
NODE_ENV=development

PINATA_JWT=your_pinata_jwt_here
PINATA_GATEWAY_URL=https://gateway.pinata.cloud/ipfs